<!-- <div class="row justify-content-center align-items-center mt-4 mb-3 px-3">
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-primary">
        Primera Caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-success">
        Segunda caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-warning">
        Tercera Caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-danger">
        Cuarta caja
    </div>
</div> -->

<div class="stats-container mt-4 mb-3 px-3 me-4">

    <div class="shadow-sm rounded-3 py-3 px-4 bg-info d-flex align-items-center justify-content-around column-gap-2">
        <i class="bi bi-bar-chart-line"></i>
        <div class="d-flex flex-column text-end text-center">
        <p class="rate mb-0">46.43%</p>
        <small class="text-light">GROWTH RATE</small>
    
        </div>
    </div>
    <div class="shadow-sm rounded-3 py-3 px-4 bg-success d-flex align-items-center justify-content-around column-gap-2">
        <i class="bi bi-file-earmark-fill "></i>
        <div class="d-flex flex-column text-end text-center">
        <p class="rate mb-0">4,054,876</p>
        <small class="text-light">PAGEVIEWS</small>
        
    
        </div>
    </div>
    <div class="shadow-sm rounded-3 py-3 px-4 bg-warning d-flex align-items-center justify-content-around column-gap-2">
        <i class="bi bi-arrow-down-right"></i>
        <div class="d-flex flex-column text-end text-center">
        <p class="rate mb-0">46.41%</p>
        <small class="text-light">BOUNCE RATE</small>
        
    
        </div>
    </div>
    <div class="shadow-sm rounded-3 py-3 px-4 bg-danger d-flex align-items-center justify-content-around column-gap-0">
        <i class="bi bi-person-standing"></i>
        <div class="d-flex flex-column text-end text-center">
        <p class="rate mb-0">914,001</p>
        <small class="text-light">VISITS</small>
        
    
        </div>
    </div>
</div>