<header class="header row align-items-center bg-dark position-sticky top-0 w-100 z-2">
   <div class="col-6 d-flex flex-row align-items-center column-gap-3">
    <!--Contenedor imagen-->
    <div class="imagen-perfil position-relative bg-white rounded-circle d-flex align-items-center justify-content-center">
        
        <i class="bi bi-person-fill text-black fs-5" (click)="toggleItem('isActiveProfile')" ></i>
        <span class=" span-perfil rounded-circle border border-2 border-black position-absolute"></span>
        <app-tab-profile *ngIf="isActiveItems.isActiveProfile"></app-tab-profile>
    </div>

    <!--Elemento notificacion-->
    <div class="position-relative ">
        <i class="bi bi-bell-fill text-white fs-5" (click)="toggleItem('isActiveNotification')"></i>
        <span class=" span-notif rounded-circle  position-absolute d-flex align-items-center justify-content-center small">5</span>
        <app-tab-notification *ngIf="isActiveItems.isActiveNotification"></app-tab-notification>
    </div>
    <!--Contenedor del menu cuadrado-->
    <div>
        <i class="bi bi-grid 3x3 gap-fill text-white fs-5" (click)="toggleItem('isActiveShortcut')"></i>
        <app-tab-shortcuts *ngIf="isActiveItems.isActiveShortcut"></app-tab-shortcuts>
    </div>

    <!--Contenedor de ajustes-->
    <div>
        <i class="bi bi-gear-fill text-white fs-5" (click)="toggleItem('isActiveSettings')">
        </i>
    </div>
   </div>


   <div class="col-6 d-flex flex-row align-items-center justify-content-end py-3 column-gap-3 ">
 
    <div class="position-relative rounded-pill overflow-hidden search-container"> <!--buscador-->
        <i class=" search-icon bi bi-search position-absolute d-flex align-items-center justify-content-center"></i>
        <input type="text" class="form-control w-100 text-end " placeholder="Buscar...">
    </div> <!-- // fin-buscador-->
 
    <div class="icon-list-container">   <!--menu-->
        <i class="burger bi bi-list text-white fs-5" (click)="toggleLogo()"></i>
    </div> <!--//fin menu-->
   
    <div class="position-relative logo-container d-flex align-items-center justify-content-center column-gap-3">  <!--logo-->
        <span class="text-white animate-width" *ngIf="isActive">Online Shop</span>
        <img class="img ms-2"src="logo.svg" alt="">
    </div>  <!--// fin logo-->
  
   </div>
      
    
</header>



<app-tab-settings *ngIf="isActiveItems.isActiveSettings"></app-tab-settings>