<div class="slide-down position-absolute notification-container bg-white shadow-sm rounded-3">
    <div class="row align-items-center justify-content-center m-auto py-3">
        <div class="col-12 d-flex flex-row justify-content-between align-items-center px-3 pb-2 border border-top-0 border-end-0 border-start-0">
            <p class="mb-0 clearall">CLEAR ALL</p>
            <p class="mb-0">Notifications</p>
        </div>

        <!-- Message 1 -->
        <div class="message-container border border-top-0 border-end-0 border-start-0">
            <div class="item-message m-auto position-relative">
                <p class="m-0 text-muted position-absolute date-item">2pm</p>
                <div class="content-item">
                    <h2 class="h6 mb-1 text-end">New Subscription Created</h2>
                    <p class="mb-0 text-muted small text-end">
                        {{ "The customer will pay $25 per month the basic plan" | truncateText }}
                    </p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                    <i class="bi bi-flag-fill text-white"></i>
                </div>
            </div>
        </div>

        <!-- Message 2 -->
        <div class="message-container border border-top-0 border-end-0 border-start-0">
            <div class="item-message m-auto position-relative">
                <p class="m-0 text-muted position-absolute date-item">1pm</p>
                <div class="content-item">
                    <h2 class="text-warning h6 mb-1 text-end">Server #2 Not Responding</h2>
                    <p class="mb-0 text-muted small text-end">
                        {{ "Some technical error ocurred needs to be resolved" | truncateText }}
                    </p>
                </div>
                <div class="icon-item2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-graph-down-arrow text-white"></i>
                </div>
            </div>
        </div>
    </div>
     <!-- Message 3 -->
     <div class="message-container border border-top-0 border-end-0 border-start-0">
        <div class="item-message m-auto position-relative">
            <p class="m-0 text-muted position-absolute date-item">4pm</p>
            <div class="content-item">
                <h2 class="h6 mb-1 text-end">New messages 2</h2>
                <p class="mb-0 text-muted small text-end">
                    {{ "The payment for your G Suite Basic subscription failed" | truncateText }}
                </p>
            </div>
            <div class="icon-item3 d-flex align-items-center justify-content-center">
                <i class="bi bi-envelope-fill text-white"></i>
            </div>
        </div>
    </div>
    <!--Message 4-->
    <div class="message-container border border-top-0 border-end-0 border-start-0">
        <div class="item-message m-auto position-relative">
            <p class="m-0 text-muted position-absolute date-item">1pm</p>
            <div class="content-item">
                <h2 class="h6 mb-1 text-end">Sandy Doe</h2>
                <p class="mb-0 text-muted small text-end">
                    {{ "ipsum....................." | truncateText }}
                </p>
            </div>
            <div class="icon-item4 d-flex align-items-center justify-content-center">
                <i class="bi bi-person-square text-white"></i>
            </div>
        </div>
    </div>
    <div class=" d-flex align-items-center justify-content-center border-top-0 border-end-0 border-start-0">
        <p class="mt-2">Read All</p>
    </div>
</div>




