.bg-img{
    background-image: url('/login.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.card-body{
    background-color: #edede9;
    
    h2{
        font-size:20px;
    }
}
.form-control{
    font-size:12px;
}
.radio{
    font-size:12px;
}
.terms{
    font-size:12px;
}
.btn{
    width:300px;
    height:35px;
    font-size:15px;
    background-color: bisque;
    
}
.login{
    font-size:15px;
}
a{
    color: antiquewhite;
}











