
@keyframes animateWidth {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideToLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightToLeft {
    from {
        transform: translateX(100%); /* Empieza fuera de la pantalla, a la derecha */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Se mueve a su posición original */
        opacity: 1;
    }
}

.slide-right-to-left {
    animation: slideRightToLeft 0.5s ease-in-out forwards;
}

  

  
  
  * {
    transition: all .25s ease;
  }
  
  .slide-down {
    animation: slideDown .25s ease-in forwards;
  }
  .animate-width {
    /*transition: width .2s ease-in;*/
    animation: slideToLeft .55s ease-in forwards;
  }
 