@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


$primary: #de283b;
$secondary: #ff6366;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success":$success,
  "info":$info,
  "light":$light,
  "dark":$dark,
  "warning":$warning,
  "danger":$danger,
  "white":$white,

  /*"light": #000*/
);
