<div class="bg-dark h-100 py-3 sidebar-container " [class.hide-me]="!isActiveMenuHeader">

  <h2 class="menu mb-3 w-100 px-3  pb-2 fs-5 text-end me-5">Menú
    
  </h2>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2 bg-dark-subtle">
      <a href="/control-panel" class="text-white text-decoration-none"></a>
      <span class="fs-6 text-dark">Inicio</span> <i class="bi bi-house text-dark fs-5"></i>
  
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Mi perfil</span> <i class="bi bi-person fs-5"></i>
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Mi contraseña</span> <i class="bi bi-shield fs-5"></i>
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <i class="i1 bi bi-caret-down-fill" (click)="toggleMenu()"></i>
      <span class="fs-6">Productos</span> <i class="bi bi-cart fs-5"></i>
      
    </p>
    <ul class="dropdown-menu-custom position-absolute text-dark bg-white me-0 p-2 rouned shadow"
        *ngIf="showMenu">
      <li *ngFor="let option of menuOptions" class="px-3 py-2">{{option.name}}</li>
    </ul>        
      
    
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Cerrar sesión</span> <i class="bi bi-power fs-5"></i>
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Clientes</span> <i class="bi bi-people-fill fs-5"></i>
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Ventas</span> <i class="bi bi-receipt fs-5"></i>
    </p>
    <p class="text-white text-end mb-3 px-4 d-flex flex-row flex-nowrap align-items-center justify-content-end column-gap-2">
      <span class="fs-6">Pedidos Web</span> <i class="bi bi-globe2 fs-5"></i>
    </p>
    

  

</div>
