
.settings-container {
    width: 35%;
    max-width: 275px;
    top: 70px;
    bottom: 0;
    background-color: #fbfbfb;
  }
  .text-center{
    font-size:14px;
    
  }
  .text{
    font-size: 18px;
    color:gray;
    cursor:pointer;
  }
  .search-icon{
    color:gray;
  }
  .h5{
    font-size: 12px;
  }
  .p{
font-size: 10px;

  }

  .rounded-circle{
    width:40px;
    height:40px;
  }
  .ellipsis-start{
    direction:rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  